{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <div style="left: 50%; margin-left: 800px;justify-content: center;align-items: center; width: 900px; margin-top: 15%;">
      <h2 style="margin-left: 60px;">Авторизация</h2>
      <div class="form-group">
        <form method="post" action="{% url 'login' %}" >
          {% csrf_token %}

          <div class="form-group col-md-4 mb-0">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.password|as_crispy_field }}
          </div>
          <div class="col-sm-5"><button type="submit" class="btn btn-primary" style="margin-left: 25px;">ВХОД</button>
          <a href="{% url 'home' %}" >&#128064;</a>
          <a href="{% url 'password_reset' %}">?</a>

          </div>

        </form>
        </div>
    </div>

{% endblock %}
